.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  background-color: black;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  color: white;
  padding: 5% 5% 2% 5%;

}

.footer-title{
  display: flex;
}

.dog-img{
  filter: invert(100%);
}
