<div class="container" [style.flex-direction]="isMobileScreen? 'column': 'row'">
  <div class="text-content" [style.width.%]="isMobileScreen? '100': '50'">
    <mat-divider class="mat-divider"></mat-divider>
    <div class="breeds-text">
      <h1 class="mat-headline-1" style="font-weight: bold;">Why should you <br> have a dog?</h1>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aspernatur omnis aperiam doloribus sit
        repudiandae, harum sunt voluptas ducimus non earum dicta atque corrupti pariatur. Similique a optio unde?
        Libero.
        Nulla, nobis deleniti pariatur cupiditate quasi dicta deserunt facilis fugit repudiandae minus explicabo vel
        ipsam unde veniam consequuntur aut aspernatur quis, ea autem, quas officia soluta est! Libero, molestias ex.</p>

      <p class="see-more">read more <mat-icon>arrow_right_alt</mat-icon></p>
    </div>
  </div>
  <div class="photo-container">
    <div class="img image1">
      <img src="http://cdn.akc.org/content/article-body-image/samoyed_puppy_dog_pictures.jpg">
    </div>
    <div class="img image2">
      <img
        src="https://images.unsplash.com/photo-1552053831-71594a27632d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGRvZ3N8ZW58MHx8MHx8&w=1000&q=80">
    </div>
    <div class="img image3">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsLxRt64uto71yJabndutDvsSxyZLfGjaA2zUcxKjH1MtWfaHLRu9IctBCL9985pZez5s">
    </div>
  </div>
</div>
